*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}

.offcanvas{
    width: 85% !important;
    max-width: 100% !important;
}
.top_portation{
    position:relative;
    width: 100%;
    height: 340px;
    background-color:#2F2F2F;
    z-index: 1;
}
.top{
    width: 100%;
}
.offcanvas-body {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 !important;
}
.title{
    position: absolute;
    left: 20%;
    right: 20%;
    text-align: center;
    top: 50%;
    z-index: 40;
    font-family: 'Merriweather','Times New Roman',serif;
    line-height: 1.2;
    color: #fff;
    font-size: 44px;
    padding: 50px;
    transition-delay: 0;
    transform: translate(0px,-50%);
}
.sidebar-top-img {
    text-align: center;
    padding: 30px;
    position: relative;
    margin-bottom: 60px;
}
.bdr{
    border: 40px solid rgb(75, 60, 60);
    width: 400px;
    height: 280px;
    position: relative;
    z-index: 10;
}