* {
    box-sizing: border-box;
}
.previousbtn{
    text-decoration: none;
    font-size:small;
}
.btncls{
    color: white;
}
.container{
    width: 100%;
}
.sidebar-top-img img {
    width: 100%;
}
img, svg, canvas, object {
    max-width: 100%;
    height: auto;
}
a, img {
    outline: 0;
    border: 0;
}
img {
    vertical-align: middle;
}
.sidebar-opened .direction-link {
    transform: translateX(0);
    opacity: 1;
}
.direction-link {
    font-size: 10px;
}
.direction-link {
    font-family: 'Merriweather','Times New Roman',serif;
    font-weight: 400;
    color: #939393;
    display: inline-block;
    vertical-align: middle;
}
a{
    outline: none!important;
    text-decoration: none;
    background-color: transparent;

}
.top{
    width: 100%; 
    height: 200px;
}

