* {
    font-family: inherit;
    -webkit-font-smoothing: antialiased;
}
* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.top_portation{
    position:relative;
    width: 100%;
    height: 340px;
    background-color:#2F2F2F;
    z-index: 1;
}
.btn-close {
  right: 21px;
  background-color: #2f2f2f;
  width: 80px;
  height: 80px;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 80px;
}

.offcanvas.offcanvas-end {
    top: 0;
    right: 0;
    width: 84% !important;
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%);
}
.offcanvas-body {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 !important;
}
.title{
    position: absolute;
    left: 20%;
    right: 20%;
    text-align: center;
    top: 50%;
    z-index: 40;
    font-family: 'Merriweather','Times New Roman',serif;
    line-height: 1.2;
    color: #fff;
    font-size: 44px;
    padding: 50px;
    transition-delay: 0;
    transform: translate(0px,-50%);
}


.offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
    color: #fff;
}


.pageline{
    position: fixed;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #fff;
    opacity: .05;
    z-index: 50;
    left: 16.6%;
}

.sidebar-top-img img {
    width: 100%;
}
img, svg, canvas, object {
    max-width: 100%;
    height: auto;
}
a, img {
    outline: 0;
    border: 0;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}


img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
a {
    color: #cba37c;
    -webkit-transition: all ease-out .2s;
    transition: all ease-out .2s;
    outline: none!important;
    text-decoration: none;
}
a {
    color: #337ab7;
    text-decoration: none;
}

.sidebar-top-img {
    text-align: center;
    padding: 30px;
    position: relative;
    margin-bottom: 60px;
}
.blog-header.white-bg {
    background: transparent;
    z-index: 1;
}

.blog-header {
    position: relative;
    padding: 25px 0;
    margin-bottom: 80px;
}
.sidebar-content {
    background-color: #fff;
    position: relative;
    z-index: 100;
    min-height: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    color: #000;
}

.offcanvas{
    width: 85%;
}
.image{
    width: 1400px;
    height: 583px;
}
.main{
    margin: 100px;
}
.footer{
    margin: 150px;
}
.work_section {
    background-color: #171717;
    height: 100px;

}

.loadmore {
    margin-top: 1rem;
    position: relative;
}

.loadmore:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: calc(50% - 9rem);
    left: calc(50% - 9rem);
    right: calc(50% - 9rem);
    bottom: calc(50% - 9rem);
    border: 40px solid #1e1e1e;
    /* border-right: none; */
    border-image-source: url('images/slide-border-image-2.png');
    border-image-slice: 70;
    border-image-repeat: round;
}

.work_section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Adjust as needed */
}

.readmore-link {
    display: inline-block;
    background-color: #171717;
    color: #cba37c;
    font-family: 'Merriweather', 'Times New Roman', serif;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 11px 84px;
    position: absolute;
    opacity: 1;
    z-index: 10;
    text-decoration: none;
}

.readmore-link i {
    margin-left: 5px;
    font-size: 16px;
}

.readmore-link.button {
    position: relative;
}

.readmore-link.button:hover .fa-arrow-right {
    transform: translateX(10px);
    /* Example: Move the icon 5px to the right */
    transition: 1s;
    color: #ffffff;
}

.readmore-link.button:hover {
    color: #ffffff;
    /* Change to the desired hover color */
}






